/* Dashboard.css */
.dashboard{

  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #E9F5F2;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .ant-layout-header {
      padding: 0 10px;
      
    }
  
    .ant-layout-sider {
      width: 0 !important;
      padding: 0;
    }
  
    .ant-layout-content {
      padding: 5px !important;
    }
  
    .ant-menu {
      padding: 0;
    }
  
    .ant-btn-link {
      font-size: 14px;
    }
  
    .ant-typography {
      font-size: 18px;
    }

  }
  