/* Dashboard.css */

@media only screen and (max-width: 768px) {
    .ant-layout-header {
      padding: 0 10px;
    }
  
    .ant-layout-sider {
      width: 0 !important;
      padding: 0;
    }
  
    .ant-layout-content {
      padding: 10px;
    }
  
    .ant-menu {
      padding: 0;
    }
  
    .ant-btn-link {
      font-size: 14px;
    }
  
    .ant-typography {
      font-size: 18px;
    }
  }
  