/* Profile Container */
.profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 80vh;
  width: 97%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior:smooth;
  scrollbar-width: none;
  background: linear-gradient(135deg, #E9F5F2, #E9F5F2);
}

/* Profile Card */
.profile-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  gap: 15px;
  border: 2px solid #E9F5F2;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: scale(1.02);
}

/* Profile Picture Section */
.profile-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background: #E9F5F2;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.profile-pic-wrapper {
  position: relative;
  display: inline-block;
  width: 20%; 
  max-width: 200px; 
  margin-bottom: 1%;
}

.profile-pic {
  width: 100%; 
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.edit-icon-btn {
  position: absolute;
  top: 5%;
  right: 7%;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2D6A4F;
  transition: color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.edit-icon-btn svg {
  font-size: 1.3rem;
  color: #2D6A4F;
  transition: color 0.3s;
}
.edit-icon-btn svg:hover{

  color: #1E5038;
}

/* Buttons */
.change-password-btn {
  padding: 10px;
  width: 30%;
  background-color: #2D6A4F !important;
  color: white !important;
  border: none;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}
.change-password-btn:hover {
  background-color: #1E5038 !important; 
  color: white !important;
}

/* Profile Info Section */
.profile-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background: #E9F5F2;
  border-radius: 8px;
  padding: 10px;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.info-section {
  width: 48%;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  border: 1px solid #E9F5F2;
}



/* Titles and Text */
.profile-card h1 {
  color: #1E5038;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
}

.info-section h3 {
  color: #2D6A4F;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.info-section p {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 15px;
  }

  .profile-card {
    flex-direction: row;
    gap: 10px;
  }

  .profile-pic-container {
    width: 35%;
  }

  .profile-right {
    width: 65%;
  }

  .info-section {
    width: 100%;
  }

  .change-password-btn {
    padding: 10px;
    font-size: 18px;
  }

  .profile-card h1 {
    font-size: 1.5rem;
  }

  .info-section h3 {
    font-size: 1.1rem;
  }

  .info-section p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .profile-container {
    padding: 5px;
    width: 99%;
  }

  .profile-card {
    flex-direction: column;
    gap: 10px;
  }

  .profile-pic-container {
    width: 100%;
  }
  .profile-pic-wrapper {
 
    width: 50%; 
  }
  .edit-icon-btn{
    right : -2%;
  }

  .profile-right {
    width: 100%;
  }

  .info-section {
    width: 100%;
  }
  .change-password-btn {
    padding: 8px;
    font-size: 16px;
    width: 90%;
  }

  .profile-card h1 {
    font-size: 1.5rem;
  }

  .info-section h3 {
    font-size: 1.1rem;
  }

  .info-section p {
    font-size: 0.9rem;
  }
  .ant-picker {
    display: block;
    margin: 0 auto;
    width: 100% !important;
    text-align: center;
  }

  .ant-picker-input {
    text-align: center;
  }
}











